*{
 margin: auto;
  max-width: 1000px;  
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: inherit;
}

h2{
    margin: 12px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(63, 32, 4);
}
li
{
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: circle;
    
}

.entete {
   
    padding: 16px;
    margin-top: 40px;
}

.agauche{
    width: 22%;
    height: 100%;
    float: left;
    border: 1px solid rgb(90, 44, 4);
   
}
.adroite {
    width: 78%;
    height: 100%;
    margin-bottom: auto;
    margin-left: 22%;
    border: 1px solid rgb(90, 44, 4);
    background-color: rgb(188, 120, 52);
    
    
} 

.enbas {
    width: 100%;
    height: 15%;
    margin-top: 0%;
    border: 1px solid rgb(90, 44, 4);
    background-color: rgb(241, 223, 162);
}

