*{
    margin: auto;
     max-width: 1000px;  
   }
 .gauche h1 {
     background-color: rgba(255, 255, 255, 0.913);
     text-align: center;
     border-style: inset;
     border-color: black;
     width: 80%;
 }
 .gauche { 
    width: 22%;
    height: 50%;
    float: left;
    border: 1px solid;
    background-color: rgb(171, 167, 167);

 } 

.milieu {
    background-color: grey;
    border-style: dashed;
    height: 60%;
    margin-left: 23%;
    margin-right: 20%;
}

.droite {
    margin-left: 82%;
    margin-right: auto;
    margin-bottom: 0%;
    border-style: outset;
}