*{
    margin: auto;
     max-width: 1000px;  
   }
 .gauche h1 {
     background-color: rgba(255, 255, 255, 0.913);
     text-align: center;
     border-style: inset;
     border-color: black;
     width: 80%;
 }
 .gauche { 
    width: 22%;
    height: 50%;
    float: left;
    background-color: rgb(171, 167, 167);
    border-top: black 2px solid;
    border-left: black 2px solid;
    border-bottom: black 2px solid;
    border-right: white 2px solid;

 } 

.milieu {
    background-color: grey;
    border-style: dashed;
    height: 60%;
    margin-left: 23%;
    margin-right: 20%;
}

.droite {
margin-left: 82%;
width: 30%;
border-top: black 2px solid;
border-left: rgb(255, 255, 255) 2px solid;
border-bottom: black 2px solid;
border-right: rgb(9, 9, 9) 2px solid;
}